table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.adjacent-month {
    background-color: gray;
}

.today {
    background-color: blue;
    color: white;
}

.color-gauge{
    height: 10px;
}

.day {
    height : 100px;
    width : 100px;
}

.light-blue-background{
    background: #4286f4;
}

#dayContainer{
    height: 10%;
    padding-right: 10%;
    padding-top: 5%;
    float: right;
}

#titleContainer{
    width: 100%;
    height: 80%;
    font-size : 12px;
}